body {
  background-image: url(Electric.gif);
  position: absolute;
  background-position: center;
  }
  button {
    display: none;
  }
  input{
    font-size: 2em;
    font-family: monospace;
  }
  .red { color: red;}
  .green {color: rgb(43, 176, 212);}
  h1{color: rgb(199, 233, 232);}
  main{
    width:200%;
    margin: 5em auto;
    margin-left: 9em;
    padding: 1em 1em 2em 1em;
    border-radius: 50px;
    border: 3px solid rgb(73, 230, 246);
    background-color: rgba(65, 124, 147,.3);
    text-align: center;
}
.displayNone {display: none;}
.redBG {
  background-color: rgb(255, 0, 64);
}
.orangeBG{
  background-color: rgb(255, 177, 33);
}
.yellowBG{
  background-color: rgb(245, 255, 115);
}
.greenBG{
  background-color: rgb(84, 207, 74);
}
.blueBG{
  background-color: rgb(72, 61, 252);
}
.purpleBG{
background-color: rgb(166, 11, 191);
}
